{% load static %}
<footer class="bg-[#586132] rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{% url 'main:show_main' %}" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            </a>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto border-gray-300 lg:my-8" />
        <span class="block text-sm text-white sm:text-center">© 2025 <a href="{% url 'main:show_main' %}"
                class="hover:underline">Sizopi™</a>. All Rights Reserved.</span>
    </div>
</footer>
