{% extends "base.html" %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}

<style>
  .hover\:zoom-image {
      transition: transform 0.3s ease;
  }

  .hover\:zoom-image:hover {
      transform: scale(1.05);
  }
</style>

<section class="bg-white">
        
</section>

<section class="bg-[#716969]">
    
</section>

<div class="text-center py-8">
    
</div>

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6 px-4 md:px-8">
</div>

<section class="bg-white">
    
</section>

{% endblock content %}
